html,
body {
  background: #222;
  height: 100%;
}

.btn {
  min-width: 3em;
}

tr {
  transition: background-color 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
